[submodule "freetype"]
	path = freetype
	url = https://github.com/space-wizards/freetype.git
[submodule "openal-soft"]
	path = openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "fluidsynth"]
	path = fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git

