[submodule "freetype"]
	path = freetype
	url = https://github.com/space-wizards/freetype.git
[submodule "openal-soft"]
	path = openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "fluidsynth"]
	path = fluidsynth
	url = https://github.com/FluidSynth/fluidsynth.git

[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
[submodule "swnfd"]
	path = swnfd
	url = https://github.com/space-wizards/nativefiledialog
